# Data files/folders
commoncrawl/cc-nz-articles-test.csv
commoncrawl/hedonometer_words.json
commoncrawl/processed_ccnews/
commoncrawl/processed_ccmain/
commoncrawl/logs/

commoncrawl/digital_economy/data/*
!commoncrawl/digital_economy/data/ecom_labels.json
commoncrawl/digital_economy/results/
commoncrawl/digital_economy/plots/
commoncrawl/digital_economy/site_agg_output/
commoncrawl/digital_economy/test_scraping_html/

Gdelt/eda_KA/gdelt2_master.txt
Gdelt/data/

twitter/twitter_log.txt

GNH/output/

# Config files
s3_config.py
postgres_config.py
twitter/twitter_config.py
GNH/load_api_config.R

# Python
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# R
.Rproj.user
